@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=hES06XlsOjtJsgCkx1PkTo7t-xNPNxJ5&amp;skey=2623c44f4d0c9cf8&amp;v=v25) format('truetype');
}
